<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baoziss.dao.SkillDAO">


	<sql id="skillSql">
		id,detail,info_id
	</sql>
	<select id="selectByInfor" parameterType="string" resultType="skill">
		select <include refid="skillSql"/> from skill where info_id=#{id,jdbcType=VARCHAR}
	</select>

</mapper>
